@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Pacifico&display=swap";
h1 {
  color: orange;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 55px; }

h2 {
  text-align: center;
  color: chocolate;
  font-family: "Montserrat", sans-serif;
  font-size: large; }

h3 {
  display: inline;
  text-align: left;
  color: chocolate;
  font-family: "Montserrat", sans-serif;
  font-size: larger; }

h4 {
  text-align: center;
  color: olive;
  font-family: "Montserrat", sans-serif;
  font-size: 40px; }

h5 {
  text-align: center;
  color: chocolate;
  font-family: "Montserrat", sans-serif;
  font-size: large; }

.ofert {
  text-align: center;
  color: red;
  font-family: "Montserrat", sans-serif;
  font-size: 60px; }

footer {
  margin: 0.5%;
  padding: 0.2%;
  background-color: white;
  color: orange;
  font-family: "Montserrat", sans-serif; }

.whatsapp {
  width: 25px; }

header {
  margin: 0%;
  padding: 0%;
  background-color: beige;
  grid-area: header;
  background-color: white; }

.imagenLogo {
  width: 150px; }

#lista1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center; }
  #lista1 li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    background-color: beige; }

.separador {
  color: gray; }

.mapaubi {
  grid-area: mapaubi;
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  display: grid;
  justify-content: center; }

#section-contenedor {
  display: flex;
  flex-direction: row; }
  #section-contenedor #section-productos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end; }
    #section-contenedor #section-productos .card-product {
      width: 30%;
      margin: 20px;
      text-align: center; }
      #section-contenedor #section-productos .card-product .info-producto {
        display: flex;
        flex-direction: column; }
    #section-contenedor #section-productos .boton {
      background-color: olivedrab; }
  #section-contenedor #section-carrito {
    width: 30%;
    height: 30%;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: orange;
    border-radius: 10px;
    position: sticky;
    top: 200px; }
    #section-contenedor #section-carrito div {
      display: flex;
      justify-content: center;
      margin: 10px; }
      #section-contenedor #section-carrito div h2,
      #section-contenedor #section-carrito div h3 {
        font-size: 25px; }

.formu {
  grid-area: formu;
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  display: grid;
  justify-content: center; }

.container {
  background-color: beige; }

.big {
  background-color: beige;
  margin: 1%;
  padding: 1%; }

.compraPro {
  grid-area: compraPro;
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  display: grid;
  width: auto;
  height: auto;
  justify-content: center; }

.buscar {
  grid-area: buscar;
  margin: 0.5%;
  padding: 0.5%;
  display: grid;
  justify-items: center;
  width: 100%;
  height: 30%; }

#container-general {
  display: flex;
  flex-direction: column; }

#container-general #ordenar-modal {
  display: flex;
  justify-content: space-around; }

#container-general #ordenar-modal #seleccion {
  width: 20%;
  margin: 20px 0px 30px 80px; }

#container-general #ordenar-modal .modal-carrito {
  width: 15%;
  align-self: center; }

#container-general #ordenar-modal .modal-carrito i {
  font-size: 1.2rem; }

#container-general #ordenar-modal .table {
  text-align: center; }

#container-general #ordenar-modal #gastoTotal {
  font-size: 1.2rem; }

#container-general #ordenar-modal .modal-footer a {
  text-decoration: none;
  color: #f5f5f5; }

#container-general #section-productos {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end; }

#container-general #section-productos .card-product {
  margin: 20px 0px;
  text-align: center; }

#container-general #section-productos .card-product .img-container {
  position: relative; }

#container-general #section-productos .card-product .img-container img {
  width: 20em;
  height: 50%;
  margin: 10px; }

#container-general #section-productos .card-product .info-producto {
  display: flex;
  flex-direction: column; }

* {
  margin: 0%;
  padding: 0%; }

.nav-link {
  color: orangered; }

.bodyPrincipal {
  background-color: beige; }

a {
  color: olive;
  text-decoration: none;
  text-decoration: none;
  font-weight: bold;
  color: darkolivegreen;
  text-transform: uppercase; }
  a:hover {
    color: green;
    background-color: lightgray; }

.infox {
  text-align: center;
  color: black;
  font-weight: 100;
  font-size: larger;
  font-family: "Montserrat", sans-serif;
  grid-area: infox; }

.ul {
  display: inline;
  color: darkred;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  text-decoration: none; }

.caja {
  color: beige;
  background: orange;
  border: 50px beige;
  display: inline-block;
  text-decoration: none;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px; }

.descri {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  padding: 0;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-area: descri; }
