.mapaubi {
grid-area: mapaubi;
max-width: 1000px;
padding: 0;
margin: 0 auto;
display: grid;
justify-content: center;
}

.formu {
grid-area: formu;
max-width: 1000px;
padding: 0;
margin: 0 auto;
display: grid;
justify-content: center;
	}


	