.mapaubi {
grid-area: mapaubi;
max-width: 1000px;
padding: 0;
margin: 0 auto;
display: grid;
justify-content: center;
}

#section-contenedor {
    display: flex;
    flex-direction: row;

    #section-productos {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;


        .card-product {
            width: 30%;
            margin: 20px;
            text-align: center;


            .img-container {
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    height: 50%;
                    margin: 10px;
                }
            }


            .info-producto {
                display: flex;
                flex-direction: column;
            }
        }
    }

    #section-micarrito {
        width: 30%;
        height: 30%;
        margin: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: $color_2;
        border-radius: 10px;
        position: sticky;
        top: 200px;


        div {
            display: flex;
            justify-content: center;
            margin: 10px;

            h2,
            h3 {
                font-size: 25px;
            }
        }
    }
}

.formu {
grid-area: formu;
max-width: 1000px;
padding: 0;
margin: 0 auto;
display: grid;
justify-content: center;
	}

.container  {
background-color: $background-color_1;	}

.big {
	background-color: $background-color_1;
	margin: 1%;
	padding: 1%;	}

.compraPro {
	grid-area: compraPro;
	max-width: 1000px;
	padding: 0;
	margin: 0 auto;
	display: grid;
	width: auto;
	height: auto;
	justify-content: center;
		}

.buscar {
	grid-area: buscar;
	margin: 0.5%;
	padding: 0.5%;
	display: grid;
	justify-items: center;
	width: 100%;
	height: 30%;
		}