header {
	margin: 0%;
	padding: 0%;
	background-color: $background-color_1;
	grid-area: header;
	background-color: white
}

.imagenLogo {
	width: 150px;
}
#lista1 {
	font-family: $font-family_2;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	li {
		display: inline;
		padding-left: 3px;
		padding-right: 3px;
		background-color: $background-color_1;
	}
}
.separador {
	color: $color_4;
}