h1 {
	color: $color_2;
	text-align: center;
	font-family: $font-family_1;
	font-size: 55px;
}
h2 {
	text-align: center;
	color: $color_7;
	font-family: $font-family_2;
	font-size: large;
}
h3 {
	display: inline;
	text-align: left;
	color: $color_7;
	font-family: $font-family_2;
	font-size: larger;
}

h4 {
	text-align: center;
	color: $color_5;
	font-family: $font-family_2;
	font-size: 40px;
}

h5 {
	text-align: center;
	color: $color_7;
	font-family: $font-family_2;
	font-size: large;
}
.ofert {
	text-align: center;
	color: $color_3;
	font-family: $font-family_2;
	font-size: 60px;
}


