$color_1: orangered;
$color_2: orange;
$color_3: red;
$color_4: gray;
$color_5: olive;
$color_6: green;
$color_7: chocolate;
$color_8: black;
$color_9: darkolivegreen;
$color_10: darkred;
$color_11: beige;
$color_12: white;
$font-family_1: 'Pacifico', cursive;
$font-family_2: 'Montserrat', sans-serif;
$background-color_1: beige;
$background-color_2: lightgray;
$background-color_3: lightsalmon ;
$background-color_4: white;

@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Pacifico&display=swap";
@import "texts";
@import "footer";
@import "header";
@import "divs";
@import "products";
@import "maps";

* {
	margin: 0%;
	padding: 0%;
}
.nav-link {
	color: $color_1;
}

.bodyPrincipal {
	background-color: $background-color_1;
}



a {
	color: $color_5;
	text-decoration: none;
	text-decoration: none;
	font-weight: bold;
	color: $color_9;
	text-transform: uppercase;
	&:hover {
		color: $color_6;
		background-color: $background-color_2;
	}
}

.infox {
	text-align: center;
	color: $color_8;
	font-weight: 100;
	font-size: larger;
	font-family: $font-family_2;
	grid-area: infox;
}

.ul {
	display: inline;
	color: $color_10;
	font-family: $font-family_2;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	text-decoration: none;
}
.caja {
	color: $color_11;
	background: orange;
	border: 50px beige;
	display: inline-block;
	text-decoration: none;
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 10px;
}


.descri {
color: $color_8;
font-family: $font-family_2;
font-size: large;
padding: 0;
margin: 0 auto;
display: grid;
justify-content: center;
grid-area: descri;
}

